{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/register_css.css' %}" />
    <title>Registration</title>
    <style>
        .btn:hover{
            background-color: orangered;
        }
        .form__input{
            color: orangered;
        }
    </style>
</head>
<body>
    <div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title">Freaky Fast, Freaky Good</h1>
    </header>
    </div>
    <div class="container" style="width: 32%;">
    <form action="register" method="POST" class="form" name="myForm" onsubmit="return validateForm()">
       {% csrf_token %}
        <div class="form__group">
       <input type="text" name="first_name" placeholder="First Name" class="form__input">
        </div>
        <div class="form__group">
       <input type="text" name="last_name" placeholder="Last Name" class="form__input">
        </div>
        <div class="form__group">
       <input type="text" name="username" placeholder="User Name" class="form__input">
        </div>
        <div class="form__group">
       <input type="email" name="email" placeholder="Email" class="form__input">
        </div>
        <div class="form__group">
       <input type="password" name="password1" placeholder="Password" class="form__input">
        </div>
        <div class="form__group">
       <input type="password" name="password2" placeholder="Confirm Password" class="form__input">
        </div>
       <input type="Submit" class="btn" value="Create Account">
    </form>
    </div>
    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
<script>
function validateForm() {
  var x = document.forms["myForm"]["first_name"].value;
  var y = document.forms["myForm"]["last_name"].value;
  var z = document.forms["myForm"]["email"].value;
  var a = document.forms["myForm"]["password1"].value;
  var b = document.forms["myForm"]["password2"].value;
  var pass1=0;
  var pass2=0;
  var pass3=0;
  var pass4=0;
  var pass5=0;
    if (x == "") {
      alert("First Name must be filled out");
      return false;
    }
    if (y == "") {
      alert("Last Name must be filled out");
      return false;
    }
    if (z == "") {
      alert("Email must be filled out");
      return false;
    }
    if(a!=b)
    {
      alert("Password are not matching");
    }
    if (a=="")
    {
         alert("Password is empty");
    }
    if(a.length>=4 && a.length<=16)
    {
      pass2=1;
      for(let i=0;i<a.length;i++)
      {
        if(a.charCodeAT(i)>=30 && a.charCodeAT(i)<=39)
        {
          pass3=1;
        }
        if(a.charCodeAT(i)>=97 && a.charCodeAT(i)<=128)
        {
          pass4=1;
        }
        if(a[i]==" ")
        {
          pass5=1;
        }
      }
    }
    if(pass5==1)
    {
      alert("The Password Contains Space");
    }
    if(pass2!=1 || pass3!=1 || pass4!=1)
    {
      alert("Please Enter Valid password");
    }

}
</script>
</body>
</html>